html,
body,
#root,
#root > div {
  height: 100%;
}

.toggle-checkbox:checked {
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #68d391;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
